<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.suyeon.shopProject.member.MemberMapper">

	<insert id="insertMember" parameterType="com.suyeon.shopProject.member.MemberDTO">
	INSERT INTO member
	(email, password, birth, address)
	VALUES(#{email},#{password},#{birth},#{address});
	</insert>
	

	<select id="findByMember" parameterType="String" resultType="com.suyeon.shopProject.member.MemberDTO">
	SELECT *
	FROM member
	WHERE email = #{email}
	</select>
	
</mapper> 